In [23]:
from cleaning_module import clean_translate_reviews, clean_water_quality, clean_weather
from analysis_module import calculate_amenity_scores, compute_sentiment_scores
import pandas as pd
import math

**Reviews text cleaning and translate**

In [2]:
'''
input_file = 'row_data/reviews/reviews.csv'
urls_file = 'row_data/reviews/urls.csv'
output_file = 'processed_data/reviews/reviews_cleaned.csv'
deepl_api_key = '631651fd-82bc-eca9-21cc-4861fe0a7a8f:fx' # From Xiao

clean_translate_reviews(input_file, urls_file, output_file, deepl_api_key)
'''
# Will needs 1h to run, do not run again unless necessary

c:\Users\kalei\OneDrive\桌面\gps\Urban\fianl_data_analysis\cleanmodule.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'NA' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna('NA', inplace=True)

Cleaned data saved to processed_data/reviews/reviews_cleaned.csv

In [20]:
reviews = pd.read_csv('processed_data/reviews/reviews_cleaned_translated.csv').dropna(subset=['Translated_Review'])

print(len(reviews))
reviews.head()

3547

,query,name,google_id,place_id,location_link,reviews_link,reviews,rating,review_id,review_pagination_id,...,review_questions_Kid-friendliness,review_questions_Dietary restrictions,review_questions_Parking space,review_questions_Parking options,review_questions_Parking,Location_Unique,Status,Lat,Long,Translated_Review
2,ChIJNwlWvV0MxkcRW5cfLBoYztg,Gaasperplas,0x47c60c5dbd560937:0xd8ce181a2c1f975b,ChIJNwlWvV0MxkcRW5cfLBoYztg,https://www.google.com/maps/place/Gaasperplas/...,https://search.google.com/local/reviews?placei...,193,4.6,ChZDSUhNMG9nS0VJQ0FnSURaOTRXNUNREAE,CAESBkVnSUlBdw==,...,NaN,NaN,NaN,NaN,NaN,Gaasperplas,official,52.306924,4.986444,"Beautiful park, very quiet"
3,ChIJNwlWvV0MxkcRW5cfLBoYztg,Gaasperplas,0x47c60c5dbd560937:0xd8ce181a2c1f975b,ChIJNwlWvV0MxkcRW5cfLBoYztg,https://www.google.com/maps/place/Gaasperplas/...,https://search.google.com/local/reviews?placei...,193,4.6,ChdDSUhNMG9nS0VJQ0FnSUNabDRxZHp3RRAB,CAESBkVnSUlCQQ==,...,NaN,NaN,NaN,NaN,NaN,Gaasperplas,official,52.306924,4.986444,Polecam
6,ChIJNwlWvV0MxkcRW5cfLBoYztg,Gaasperplas,0x47c60c5dbd560937:0xd8ce181a2c1f975b,ChIJNwlWvV0MxkcRW5cfLBoYztg,https://www.google.com/maps/place/Gaasperplas/...,https://search.google.com/local/reviews?placei...,193,4.6,ChZDSUhNMG9nS0VJQ0FnSUNadHBxZEJBEAE,CAESBkVnSUlCdw==,...,NaN,NaN,NaN,NaN,NaN,Gaasperplas,official,52.306924,4.986444,Beautiful area of Amsterdam. Near Krainnest an...
8,ChIJNwlWvV0MxkcRW5cfLBoYztg,Gaasperplas,0x47c60c5dbd560937:0xd8ce181a2c1f975b,ChIJNwlWvV0MxkcRW5cfLBoYztg,https://www.google.com/maps/place/Gaasperplas/...,https://search.google.com/local/reviews?placei...,193,4.6,ChZDSUhNMG9nS0VJQ0FnSURwM292Y1JBEAE,CAESBkVnSUlDUQ==,...,NaN,NaN,NaN,NaN,NaN,Gaasperplas,official,52.306924,4.986444,Lovely Lake
10,ChIJNwlWvV0MxkcRW5cfLBoYztg,Gaasperplas,0x47c60c5dbd560937:0xd8ce181a2c1f975b,ChIJNwlWvV0MxkcRW5cfLBoYztg,https://www.google.com/maps/place/Gaasperplas/...,https://search.google.com/local/reviews?placei...,193,4.6,ChdDSUhNMG9nS0VJQ0FnSUNwcFotMTNRRRAB,CAESBkVnSUlDdw==,...,NaN,NaN,NaN,NaN,NaN,Gaasperplas,official,52.306924,4.986444,"Home, the lake is full of beaches, perfect for..."

**Water quality data cleaning**

In [2]:
input_file = 'row_data/water_quality/Amsterdam2007-2023_utf-8.csv'
output_file = 'processed_data/water_quality/water_quality_cleaned.csv'

clean_water_quality(input_file, output_file)

c:\Users\kalei\OneDrive\桌面\gps\Urban\fianl_data_analysis\cleanmodule.py:104: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(input_file_path)
c:\Users\kalei\OneDrive\桌面\gps\Urban\fianl_data_analysis\cleanmodule.py:106: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'NA' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna('NA', inplace=True)

Cleaned data saved to processed_data/water_quality/water_quality_cleaned.csv

In [11]:
water_quality = pd.read_csv('processed_data/water_quality/water_quality_cleaned.csv')

water_quality.head()

C:\Users\kalei\AppData\Local\Temp\ipykernel_40444\1820173234.py:1: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  water_quality = pd.read_csv('processed_data/water_quality/water_quality_cleaned.csv')

,locatiecode,locatie omschrijving,locatie x,locatie y,locatie z,compartiment,datum,fewsparameter,fewsparametercode,fewsparameternaam,...,fewsparameterparameterfractie,limietsymbool,meetwaarde,eenheid,waardebewerkingsmethode,afronding,opmerkingmeting,date,lat,lon
0,BGP008,Papelaan,130712,481615,NaN,OW,3-1-2007 08:15,O2_mg/l,O2,Zuurstof (mg/l),...,NaN,NaN,6.4,mg/l,MET,Ja,NaN,2007-01-03,52.321946,5.030963
1,BGP008,Papelaan,130712,481615,NaN,OW,3-1-2007 08:15,O2_%,O2,Zuurstofverzadigingspercentage,...,NaN,NaN,49.0,%,MET,Ja,NaN,2007-01-03,52.321946,5.030963
2,BGP008,Papelaan,130712,481615,NaN,OW,3-1-2007 08:15,T_oC,T,Temperatuur (oC),...,NaN,NaN,4.5,oC,MET,Ja,NaN,2007-01-03,52.321946,5.030963
3,BGP008,Papelaan,130712,481615,NaN,OW,3-1-2007 08:15,ZICHT_m,ZICHT,Doorzicht (m),...,NaN,>,0.2,m,MET,Ja,NaN,2007-01-03,52.321946,5.030963
4,BGP010,In bak achter benzinestation aflaat stedelijk ...,131455,480719,NaN,OW,3-1-2007 08:30,O2_mg/l,O2,Zuurstof (mg/l),...,NaN,NaN,3.1,mg/l,MET,Ja,NaN,2007-01-03,52.313926,5.041924

In [12]:
unique_indicator_types = water_quality['fewsparameter'].unique()
unique_indicator_count = len(unique_indicator_types)
unique_indicator_types_list = unique_indicator_types.tolist()

unique_indicator_count, unique_indicator_types_list

(8,
 ['O2_mg/l',
  'O2_%',
  'T_oC',
  'ZICHT_m',
  'INTTNLETRCCN_nKVE/dl',
  'E_COLI_nKVE/dl',
  'BADGT_n',
  'CHLFa_ug/l_blauwalg'])

**Weather data cleaning**

In [2]:
input_file = 'row_data/weather/schiphol_KNMI_weather_data_2007_2023.txt'
output_file = 'processed_data/weather/weather_cleaned.csv'

clean_weather(input_file, output_file)

Cleaned data saved to processed_data/weather/weather_cleaned.csv

In [3]:
weather = pd.read_csv('processed_data/weather/weather_cleaned.csv')

weather.head()

         date    FG   TG   SQ   DR   RH      PG  UG  EV24
0  2007-01-02   7.0  6.3  1.3  4.5  5.6  1017.9  83   0.2
1  2007-01-03   7.3  7.1  0.3  2.1  0.4  1021.4  88   0.1
2  2007-01-04  10.7  9.6  0.0  1.1  0.8  1007.7  81   0.2
3  2007-01-05   6.7  9.4  0.0  2.3  1.2  1015.8  87   0.1
4  2007-01-06   4.1  7.3  0.3  8.5  8.8  1013.7  92   0.2

**Convert OSM data to amenities score**

In [2]:
input_file = 'row_data/reviews/urls.csv'
output_file = 'processed_data/amenities_score/amenities_score.csv'
data_folder = 'row_data/OSM/output_OSM_data'

calculate_amenity_scores(input_file, output_file, data_folder)

Amenity scores saved to: processed_data/amenities_score/amenities_score.csv

In [3]:
amenities_score = pd.read_csv('processed_data/amenities_score/amenities_score.csv')

amenities_score.head()

                       Location  Score  Normalized Score
0                   Gaasperplas      5              0.36
1            Gaasperplas strand      4              0.29
2    Playground Gaasperplaspark      7              0.50
3  Waterspeelplaats Gaasperpark      7              0.50
4           Park de Oeverlanden      4              0.29

**Get sentiment score from reviews**

In [2]:
input_file = 'processed_data/reviews/reviews_cleaned_translated.csv'
output_file = 'processed_data/sentiment_score/reviews_sentiment_score.csv'

compute_sentiment_scores(input_file, output_file)

Sentiment scores computed and saved to processed_data/sentiment_score/reviews_sentiment_score.csv

In [22]:
sentiment_score = pd.read_csv('processed_data/sentiment_score/reviews_sentiment_score.csv').dropna(subset=['Sentiment_Score'])
sentiment_score = sentiment_score[['name', 'Location_Unique', 'review_datetime_utc', 'Translated_Review', 'Sentiment_Score']]

sentiment_score.head()

,name,Location_Unique,review_datetime_utc,Translated_Review,Sentiment_Score
2,Gaasperplas,Gaasperplas,2023-10-08,"Beautiful park, very quiet",0.5994
3,Gaasperplas,Gaasperplas,2023-09-20,Polecam,0.0000
6,Gaasperplas,Gaasperplas,2023-09-10,Beautiful area of Amsterdam. Near Krainnest an...,0.7717
8,Gaasperplas,Gaasperplas,2023-08-22,Lovely Lake,0.5859
10,Gaasperplas,Gaasperplas,2023-08-07,"Home, the lake is full of beaches, perfect for...",0.5719

**Datasets linkage**

Link sentiment score with water quality

In [25]:
reviews_sentiment_score_df = pd.read_csv('processed_data/sentiment_score/reviews_sentiment_score.csv')
water_quality_df = pd.read_csv('processed_data\water_quality\water_quality_cleaned.csv')

# Get unique items from 'fewsparameter'
unique_parameters = water_quality_df['fewsparameter'].unique()

# Initialize new columns in the reviews sentiment score dataframe
for param in unique_parameters:
    reviews_sentiment_score_df[param] = None

# Haversine_distance function
def haversine_distance(lat1, lon1, lat2, lon2):
    """
    Calculate the Haversine distance between two points on the earth.
    
    :param lat1: Latitude of the first point.
    :param lon1: Longitude of the first point.
    :param lat2: Latitude of the second point.
    :param lon2: Longitude of the second point.
    :return: Distance in kilometers.
    """
    # Radius of the Earth in kilometers
    R = 6371.0

    # Convert latitude and longitude from degrees to radians
    lat1_rad = math.radians(lat1)
    lon1_rad = math.radians(lon1)
    lat2_rad = math.radians(lat2)
    lon2_rad = math.radians(lon2)

    # Difference in coordinates
    dlat = lat2_rad - lat1_rad
    dlon = lon2_rad - lon1_rad

    # Haversine formula
    a = math.sin(dlat / 2)**2 + math.cos(lat1_rad) * math.cos(lat2_rad) * math.sin(dlon / 2)**2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))

    return R * c

# Function to merge data
def merge_data(reviews_df, water_quality_df, radius=2):
    total_reviews = len(reviews_df)
    total_water_quality_records = len(water_quality_df)
    
    for index1, row1 in reviews_df.iterrows():
        closest_distance = float('inf')
        closest_water_quality = None

        for index2, row2 in water_quality_df.iterrows():
            if row1['review_datetime_utc'] == row2['date']:
                distance = haversine_distance(row1['Lat'], row1['Long'], row2['lat'], row2['lon'])
                if distance <= radius and distance < closest_distance:
                    closest_distance = distance
                    closest_water_quality = row2

            # Water quality data checking progress within each review
            if (index2 + 1) % 100 == 0 or index2 + 1 == total_water_quality_records:
                reviews_left = total_reviews - index1
                percent_complete = index1 / total_reviews * 100
                print(f"    Water quality data checking progress: Checked {index2 + 1}/{total_water_quality_records} records for review {index1 + 1}. "
                      f"{reviews_left} reviews left ({percent_complete:.2f}% complete).")

        if closest_water_quality is not None:
            for param in unique_parameters:
                matching_param_value = water_quality_df.loc[
                    (water_quality_df['date'] == closest_water_quality['date']) &
                    (water_quality_df['lat'] == closest_water_quality['lat']) &
                    (water_quality_df['lon'] == closest_water_quality['lon']) &
                    (water_quality_df['fewsparameter'] == param), 'meetwaarde'
                ]
                if not matching_param_value.empty:
                    reviews_df.at[index1, param] = matching_param_value.iloc[0]

        # Overall review progress update after each review is processed
        reviews_left = total_reviews - (index1 + 1)
        percent_complete = (index1 + 1) / total_reviews * 100
        print(f"Review progress: Processed {index1 + 1}/{total_reviews} reviews. "
              f"{reviews_left} reviews left ({percent_complete:.2f}% complete).")

    return reviews_df

merged_df = merge_data(reviews_sentiment_score_df, water_quality_df)

merged_df.to_csv('merged.csv', index=False)

C:\Users\kalei\AppData\Local\Temp\ipykernel_42252\1224545780.py:2: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  water_quality_df = pd.read_csv('processed_data\water_quality\water_quality_cleaned.csv')